__pycache__/
*.pyc
*.env
data/
notebooks/__pycache__/
*.ipynb_checkpoints
docker/logs/
venv/
frontend/node_modules
.env/
dist/
build/
*.cache
# Environment variables
.env.development.local
.env.test.local
.env.production.local
# Temporary files
*.tmp
*.swp
*.swo
# OS files
.DS_Store
Thumbs.db
config.bat
node_modules
